/frontend/android/.gradle/*
/frontend/android/app/build/*
/frontend/android/app/src/androidTest/*
/frontend/android/app/src/main/*
/frontend/android/app/src/test/*
/frontend/dist/*
/node_modules/*
/frontend/android/app/src/test/*
